@import "tailwindcss";

@theme {
  --color-brand-primary: #10b981; /* Emerald */
  --color-brand-secondary: #06b6d4; /* Cyan */
  --color-brand-accent: #8b5cf6; /* Amethyst */

  --color-zinc-950: #050505; /* Near OLED Black */
  --color-zinc-900: #0a0a0b; /* Very Dark Slate */
  --color-zinc-800: #121214; /* Dark Slate */
  --color-zinc-700: #27272a; 

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: var(--color-zinc-950);
  --foreground: #f4f4f5;
  --primary: var(--color-brand-primary);
  --secondary: var(--color-brand-secondary);
  --accent: var(--color-brand-accent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}